# Ignore macOS system files
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
env/
venv/
*.sqlite3

# JavaScript/Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# Ignore IDE/project files
.vscode/
.idea/
*.iml

# Ignore logs
*.log
logs/

# Ignore test/build coverage
coverage/
*.cover
*.coveragerc

# Ignore specific file types
*.min.js
*.min.css
